<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PresentationLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SqlConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db_sercs;Integrated Security=True;TrustServerCertificate=True;" />
        <add name="PresentationLayer.Properties.Settings.SqlConnection"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=inventorymanagementsystem;Integrated Security=True;TrustServerCertificate=True;" />
    </connectionStrings>
    <userSettings>
        <PresentationLayer.Properties.Settings>
            <setting name="User_Id" serializeAs="String">
                <value />
            </setting>
        </PresentationLayer.Properties.Settings>
    </userSettings>
</configuration>