<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RavenTech_ERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<!-- Define the active environment (Development, Staging, Production) -->
		<add key="Environment" value="Staging" />
	</appSettings>

<connectionStrings>
		<!-- Development Database -->
		<add name="Development"
			 connectionString="Data Source=JAYCEE\SQLEXPRESS;Initial Catalog=db_sercs;Integrated Security=True;Connect Timeout=30;Encrypt=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False;"
			 providerName="System.Data.SqlClient" />

		<!-- Staging Database -->
		<add name="Staging"
			 connectionString="Server=192.168.2.100,1433;Database=db_sercs;User Id=scs_admin;Password=pass@123;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />

		<!-- Production Database -->
		<add name="Production"
			 connectionString="Server=192.168.2.100,1433;Database=db_scs;User Id=scs_admin;Password=pass@123;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>